<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.1"
 xmlns="http://xmlns.jcp.org/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
 <display-name>biblioWeb</display-name>
 <context-param>
  <param-name>contextConfigLocation</param-name>
  <param-value>WEB-INF/applicationContextWeb.xml</param-value>
 </context-param>
 <listener>
  <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
 </listener>
 <welcome-file-list>
  <welcome-file>index.jsp</welcome-file>
  <welcome-file>index.html</welcome-file>
 </welcome-file-list>
 <error-page>
  <error-code>404</error-code>
  <location>/WEB-INF/jsp/error/error404.jsp</location>
 </error-page>
 <security-constraint>
  <web-resource-collection>
   <web-resource-name>partie privee</web-resource-name>
   <url-pattern>/consultation</url-pattern>
  </web-resource-collection>
  <auth-constraint>
   <description>partie privee du site</description>
   <role-name>admin</role-name>
   <role-name>lecteur</role-name>
  </auth-constraint>
 </security-constraint>
 <login-config>
  <auth-method>FORM</auth-method>
  <realm-name>JDBCRealm</realm-name>
  <form-login-config>
   <form-login-page>/WEB-INF/jsp/login.jsp</form-login-page>
   <form-error-page>/WEB-INF/jsp/error/errorLogin.jsp</form-error-page>
  </form-login-config>
 </login-config>
 <security-role>
  <description>administrateur du site</description>
  <role-name>admin</role-name>
 </security-role>
 <security-role>
  <description>lecteur de biblioweb</description>
  <role-name>lecteur</role-name>
 </security-role>
 <!--  <servlet>
		<servlet-name>accueil</servlet-name>
		<servlet-class>fr.m2i.biblioweb.servlet.Accueil</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>accueil</servlet-name>
		<url-pattern>/accueil</url-pattern>
	</servlet-mapping> -->
</web-app>
